[user]
	email = ritikrajdev761@gmail.com
	name = ritikrajdev
	signingkey = 227CF0E9CE0C4BCC
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[color]
	ui = auto
	branch = auto
	status = auto
[sendemail]
	smtpserver = smtp.googlemail.com
	smtpencryption = tls
	smtpserverport = 587
	smtpuser = ritikrajdev761@gmail.com
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE

