[user]
	email = ritikrajdev761@gmail.com
	name = ritikrajdev
	signingkey = 227CF0E9CE0C4BCC
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[sendemail]
	smtpserver = smtp.googlemail.com
	smtpencryption = tls
	smtpserverport = 587
	smtpuser = ritikrajdev761@gmail.com
